security:
    # enable_authenticator_manager: true
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Shared\Entity\SonataUserUser:
            algorithm: auto


    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        sonata_user_bundle:
            id: sonata.user.security.user_provider
        # used to reload user from session & other features (e.g. switch_user)
        shared_user_provider:
            entity:
                class: Shared\Entity\SonataUserUser
                property: username
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        # main:
        #     lazy: true
        #     provider: sonata_user_bundle

            # activate different ways to authenticate
            # https://symfony.com/doc/current/security.html#the-firewall

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

        admin:
            lazy: true
            pattern: /admin(.*)
            provider: sonata_user_bundle
            context: user
            form_login:
                login_path: sonata_user_admin_security_login
                check_path: sonata_user_admin_security_check
                default_target_path: sonata_admin_dashboard
            logout:
                path: sonata_user_admin_security_logout
                target: sonata_user_admin_security_login
            remember_me:
                secret: '%env(APP_SECRET)%'
                lifetime: 2629746
                path: /admin

        api_login:
            provider: shared_user_provider
            pattern: ^/api/login
            context: user
            stateless: true
            json_login:
                check_path: /api/login
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

        zeiterfassung:
            pattern:   ^/zeiterfassung
            provider: shared_user_provider
            context:             user
            stateless: true
            jwt: ~

        main:
            provider: shared_user_provider
            context:             user
            form_login:
                login_path: app_login
                check_path: app_login
                default_target_path: app_order
                enable_csrf: true
            
            logout:
                path: app_logout
                # where to redirect after logout
                # target: app_any_route
            remember_me:
                secret: '%env(APP_SECRET)%'
                lifetime: 2629746
                path: /
                secure: true
            # access_token:
            #     token_handler: App\Security\AccessTokenHandler
    # Easy way to control access for large sections of your site
    # Note: Only the *first* access control that matches will be used
    access_control:
        # Admin login page needs to be accessed without credential
        # - { path: ^/admin/login$, role: PUBLIC_ACCESS }
        # - { path: ^/admin/logout$, role: PUBLIC_ACCESS }
        # - { path: ^/admin/login_check$, role: PUBLIC_ACCESS }
        # - { path: ^/admin/request$, role: PUBLIC_ACCESS }
        # - { path: ^/admin/check-email$, role: PUBLIC_ACCESS }
        # - { path: ^/admin/reset/.*$, role: PUBLIC_ACCESS }
        # - { path: ^/api/login, roles: PUBLIC_ACCESS }
        - { path: ^/login$, role: PUBLIC_ACCESS }
        - { path: ^/logout$, role: PUBLIC_ACCESS }
        - { path: ^/(zeiterfassung|kantine)/admin/login$, role: PUBLIC_ACCESS }
        - { path: ^/(zeiterfassung|kantine)/admin/logout$, role: PUBLIC_ACCESS }

        # Secured part of the site
        # This config requires being logged for the whole site and having the admin role for the admin part.
        # Change these rules to adapt them to your needs
        # - { path: ^/admin/, role: ROLE_USER }
        # - { path: ^/kantine/, role: ROLE_USER }
        # - { path: ^/zeiterfassung/, role: ROLE_USER }
        - { path: ^/.*, role: ROLE_USER }
        # - { path: ^/admin, roles: ROLE_ADMIN }
        # - { path: ^/, roles: ROLE_USER }

    role_hierarchy:
        ROLE_ADMIN_COSTUMER_ALL: [ROLE_ADMIN_COSTUMER_CREATE, ROLE_ADMIN_COSTUMER_LIST, ROLE_ADMIN_COSTUMER_DELETE, ROLE_ADMIN_COSTUMER_EDIT, ROLE_ADMIN_COSTUMER_EXPORT, ROLE_ADMIN_COSTUMER_VIEW]
        ROLE_ADMIN_ORDER_ALL: [ROLE_ADMIN_ORDER_CREATE, ROLE_ADMIN_ORDER_LIST, ROLE_ADMIN_ORDER_DELETE, ROLE_ADMIN_ORDER_EDIT, ROLE_ADMIN_ORDER_EXPORT, ROLE_ADMIN_ORDER_VIEW]
        # ROLE_ADMIN_USER_ALL: [ROLE_ADMIN_USER_CREATE, ROLE_ADMIN_USER_LIST, ROLE_ADMIN_USER_DELETE, ROLE_ADMIN_USER_EDIT, ROLE_ADMIN_USER_EXPORT, ROLE_ADMIN_USER_VIEW]        

        ROLE_USER_KANTINE: [ROLE_ADMIN_ORDER_ALL]
        ROLE_FA: [ROLE_ADMIN_COSTUMER_VIEW, ROLE_ADMIN_COSTUMER_LIST, ROLE_ADMIN_ATTENDANCE_ALL]
        ROLE_ADMIN: [ROLE_USER, ROLE_ADMIN_COSTUMER_ALL, ROLE_ADMIN_ORDER_ALL]
        ROLE_SUPER_ADMIN: [ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

when@test:
    security:
        password_hashers:
            # By default, password hashers are resource intensive and take time. This is
            # important to generate secure password hashes. In tests however, secure hashes
            # are not important, waste resources and increase test times. The following
            # reduces the work factor to the lowest possible values.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
