{%if message%}
<link rel="stylesheet" href="{{asset('styles/popUp.css')}}" />
<div class="popup-overlay alert alert-{{ type }}">
    <div class="popup-box">
        <p id="popup-message">{{ message|trans }}</p>
        <div class="popup-buttons">
                <a  class="button btn " href="{{ path('app_order') }}">OK</a>
        </div>
    </div>
    
</div>
{%endif%}