{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{status_text}}</h1>
    {%dump%}
    {% set referer = app.request.server.get('http-referer')|default('/') %}

    <p>
        {{exception.message | trans}} <a href="{{referer}}">Return</a>.
    </p>
{% endblock %}