name: Deploy to All-Inkl (Production)

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to All-Inkl
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Deploy to All-Inkl (Production)
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ vars.FTP_ADDR }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASS }}
          server-dir: ${{ vars.FTP_DIR }}
          exclude: |
            .github*
            .github*/**
            .vscode*
            .vscode*/**
            .git*
            .git*/**
            .env.dev*
            deploy_prod.sh
            *.md
            *.sql
      - name: Install composer packages and Generate secrets
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ vars.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.PASSWORD }}
          capture_stdout: true
          script: |
            cd /www/htdocs/${{ secrets.FTP_USER }}/${{ vars.FTP_DIR }} 
            export APP_ENV=prod

            # ensure correct php version (default php version is too old)
            alias php='/usr/bin/${vars.PHP_VERSION}'

            # install dependencies
            composer install --no-dev --optimize-autoloader

            # compile assets
            php bin/console asset-map:compile

      - name: Use captured output
        run: echo "SSH output was ${{ steps.ssh.outputs.stdout }}"

  # initialize:
  #   name: Deploy to All-Inkl
  #   runs-on: ubuntu-latest
  #   environment: prod
  #   steps:
  #     - name: Install composer packages and Generate secrets
  #       uses: appleboy/ssh-action@v1
  #       with:
  #         host: ${{ env.SSH_HOST }}
  #         username: ${{ secrets.SSH_USERNAME }}
  #         password: ${{ secrets.PASSWORD }}
  #         script: |
  #           composer install --no-dev --optimize-autoloader
  #           APP_RUNTIME_ENV=prod php bin/console secrets:generate-keys
  #           APP_RUNTIME_ENV=prod php bin/console secrets:set APP_SECRET --random
  #           echo -n "${{ env.DB_HOST }}" | APP_RUNTIME_ENV=prod php bin/console secrets:set DATABASE_HOST -
  #           echo -n "${{ env.DB_NAME }}" | APP_RUNTIME_ENV=prod php bin/console secrets:set DATABASE_NAME -
  #           echo -n "${{ secrets.DB_PASS }}" | APP_RUNTIME_ENV=prod php bin/console secrets:set DATABASE_PASSWORD -
  #           echo -n "${{ env.DB_USER }}" | APP_RUNTIME_ENV=prod php bin/console secrets:set DATABASE_USER -